@layer antd;
@import "tailwindcss";
body {
  margin: 0;
}

@layer antd {
  @import "antd/dist/reset.css";
}
body {
  font-family: 'Roboto', sans-serif;
} 
.row-topup {
  background-color: #f6ffed !important; /* xanh lá nhạt */
}

.row-payment {
  background-color: #fff1f0 !important; /* đỏ nhạt */
}
